In [1]:
import pandas as pd
import numpy as np
import time

## Task 1
- Load the given datasets into Pandas DataFrames. Inspect the datasets and perform the following:
- Display the first few rows of each dataset.
- Show the total number of rows and columns.
- Check for missing values in each dataset and handle them appropriately.

In [2]:
data_cus = pd.read_csv("customers.csv")
data_sal = pd.read_csv("sales.csv")
print(data_cus.head(10))
print(data_sal.head(10))

   CustomerID  Age         City
0           1   22     New York
1           2   23  Los Angeles
2           3   24      Chicago
3           4   25      Houston
4           5   26      Phoenix
5           6   27     New York
6           7   28  Los Angeles
7           8   29      Chicago
8           9   30      Houston
9          10   31      Phoenix
   SaleID  CustomerID     Product  Amount
0     101           1      Laptop     200
1     102           2  Smartphone     500
2     103           3      Tablet     800
3     104           4  Headphones    1100
4     105           5     Monitor    1400
5     106           6      Laptop     200
6     107           7  Smartphone     500
7     108           8      Tablet     800
8     109           9  Headphones    1100
9     110          10     Monitor    1400

In [3]:
print("Shape of customers.csv is: ", data_cus.shape)
print("Shape of sales.csv is: ", data_sal.shape)

Shape of customers.csv is:  (100, 3)
Shape of sales.csv is:  (400, 4)

In [4]:
print("Total rows, columns in customers.csv are: ", data_cus.shape[0], data_cus.shape[1])
print("Total rows, columns in sales.csv are: ", data_sal.shape[0], data_sal.shape[1])
print("Total missing values in customers.csv are: ", data_cus.isnull().sum().sum())
print("Total missing values in sales.csv are: ", data_sal.isnull().sum().sum())

Total rows, columns in customers.csv are:  100 3
Total rows, columns in sales.csv are:  400 4
Total missing values in customers.csv are:  0
Total missing values in sales.csv are:  0

In [5]:
# we can see that missing values are 0 in both dataframes. However, for the sake of this assignment if we want to handle missing values
# we can use the following two methods.
# No 1 : we can change the missing value with some other value that we want like: "Unknown"
data_cus.fillna("Unknown", inplace=True)

# No 2 : we can delete the rows with the null values in them.
data_sal.dropna(inplace=True)

# The inplace attribute changes the dataframe without having the requirement of creating new dataframe explicitly.

## Task 2
- Using the customers.csv file, convert its data into a Python dictionary. Use the dictionary to filter customers from a specific city. Repeat the operation using a DataFrame and compare the efficiency of both approaches.

In [6]:
# customers.csv dataframe is data_cus
# dict_cus = dict(data_cus)
# or we can use
dict_cus = data_cus.to_dict(orient="list")
dict_cus

{'CustomerID': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100],
 'Age': [22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31],
 'City': ['New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix',
  'New York',
  'Los Angeles',
  'Chicago',
  'Houston',
  'Phoenix']}

In [7]:
# now we will filter using 2 different methods below:

# City to filter
city_to_filter = "New York"

# Filter using dictionary
start_dict = time.time()
filtered_customers_dict = [
    cust_id for city, cust_id in zip(data_cus["City"], data_cus["CustomerID"]) if city == city_to_filter
]
end_dict = time.time()
print("Filtered customers using dictionary:", filtered_customers_dict)
print("Time taken using dictionary:", end_dict - start_dict)

Filtered customers using dictionary: [1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]
Time taken using dictionary: 0.0

In [8]:
# using dataframe to filter:

# Filter using DataFrame
start_df = time.time()
filtered_customers_df = data_cus.loc[data_cus["City"] == city_to_filter, "CustomerID"].tolist()
end_df = time.time()
print("Filtered customers using DataFrame:", filtered_customers_df)
print("Time taken using DataFrame:", end_df - start_df)

Filtered customers using DataFrame: [1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]
Time taken using DataFrame: 0.015897512435913086

In [9]:
# finding the difference:
print("Time taken using dictionary:", end_dict - start_dict)
print("Time taken using DataFrame:", end_df - start_df)

Time taken using dictionary: 0.0
Time taken using DataFrame: 0.015897512435913086

## Task 3
- Identify duplicate rows, if any, in the datasets. Remove these duplicates to ensure clean data.
- After cleaning, verify that there are no duplicates left.

In [10]:
# Check for duplicates in customers dataset
print("Duplicate rows in Customers DataFrame:")
duplicates_customers = data_cus[data_cus.duplicated()]
print(duplicates_customers)

# Check for duplicates in orders dataset
print("\nDuplicate rows in Orders DataFrame:")
duplicates_orders = data_sal[data_sal.duplicated()]
print(duplicates_orders)

# Remove duplicates in customers dataset
customers_df_cleaned = data_cus.drop_duplicates()

# Remove duplicates in orders dataset
orders_df_cleaned = data_sal.drop_duplicates()

Duplicate rows in Customers DataFrame:
Empty DataFrame
Columns: [CustomerID, Age, City]
Index: []

Duplicate rows in Orders DataFrame:
Empty DataFrame
Columns: [SaleID, CustomerID, Product, Amount]
Index: []

## Task 4
- Create a new column in the sales.csv data that reflects the total amount after applying a
- 10% discount on the Amount column. Group the data by Product and calculate the total sales
- for each product. Present the results in a well-structured format.

In [ ]:
# Add a new column for the discounted total
data_sal["Discounted_Amount"] = data_sal["Amount"] * 0.9

# Group by Product and calculate total sales
total_sales_by_product = data_sal.groupby("Product")["Discounted_Amount"].sum().reset_index()
# Rename columns for clarity
total_sales_by_product.rename(columns={"Discounted_Amount": "Total_Sales"}, inplace=True)
# Sort by Total Sales
total_sales_by_product = total_sales_by_product.sort_values(by="Total_Sales", ascending=False)
# Display the final DataFrame
print(total_sales_by_product)


# # Save the results to a new CSV file
# total_sales_by_product.to_csv("total_sales_by_product.csv", index=False)

      Product  Total_Sales
2     Monitor     100800.0
0  Headphones      79200.0
4      Tablet      57600.0
3  Smartphone      36000.0
1      Laptop      14400.0

## Task 5
- Filter the data in the customers.csv file to retain only those customers whose age falls in the
- range of 25 to 35. Save the filtered data in a new structure and analyze how many customers
- belong to each city within this age range.

In [70]:
# Filter customers whose age falls between 25 and 35
filtered_customers = data_cus[(data_cus["Age"] >= 25) & (data_cus["Age"] <= 35)]

# Group by City and count the number of customers
customers_per_city = filtered_customers.groupby("City")["CustomerID"].count().reset_index()
# Rename columns for clarity
customers_per_city.rename(columns={"CustomerID": "Customer_Count"}, inplace=True)

# # Save the filtered data to a new CSV file
# filtered_customers.to_csv("filtered_customers_25_to_35.csv", index=False)

# Display the number of customers in each city within the age range
print("Number of customers in each city (age 25-35):")
print(customers_per_city)

Number of customers in each city (age 25-35):
          City  Customer_Count
0      Chicago               7
1      Houston              11
2  Los Angeles               7
3     New York               7
4      Phoenix               8

## Task 6
- Merge the customers.csv and sales.csv datasets on CustomerID. From the merged dataset:
- Identify the city that generated the highest total sales.
- Find the product with the most units sold.

In [71]:
# Merge customers and sales datasets
merged_df = pd.merge(data_cus, data_sal, on="CustomerID", how="inner")

# Group by City and calculate total sales
city_sales = merged_df.groupby("City")["Amount"].sum().reset_index()

# Find the city with the highest total sales
top_city = city_sales.loc[city_sales["Amount"].idxmax()]
print("City with the highest total sales:")
print(top_city)

# Group by Product and calculate total units sold
product_sales = merged_df.groupby("Product")["Quantity"].sum().reset_index()

# Find the product with the most units sold
top_product = product_sales.loc[product_sales["Quantity"].idxmax()]
print("\nProduct with the most units sold:")
print(top_product)

City with the highest total sales:
City      Phoenix
Amount     112000
Name: 4, dtype: object

KeyError: 'Column not found: Quantity'